
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');




@font-face {
    font-family: 'Cagke';
    src: url('../fonts/Cagke-Extrabold.eot');
    src: url('../fonts/Cagke-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cagke-Extrabold.woff2') format('woff2'),
        url('../fonts/Cagke-Extrabold.woff') format('woff'),
        url('../fonts/Cagke-Extrabold.ttf') format('truetype'),
        url('../fonts/cagkeextrabold-8mpja.otf') format('opentype'),
        url('../fonts/Cagke-Extrabold.svg#Cagke-Extrabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Mono';
    src: url('../ptmono/PTMono-Regular.eot');
    src: url('../ptmono/PTMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../ptmono/PTMono-Regular.woff2') format('woff2'),
        url('../ptmono/PTMono-Regular.woff') format('woff'),
        url('../ptmono/PTMono-Regular.ttf') format('truetype'),
        url('../ptmono/PTMono-Regular.svg#PTMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueKabelW01-Regular';
    src: url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.eot');
    src: url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.eot?#iefix') format('embedded-opentype'),
         url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.woff2') format('woff2'),
         url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.woff') format('woff'),
         url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.ttf') format('truetype'),
         url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.svg#NeueKabelW01-Regular') format('svg');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



    html{
        scroll-behavior: smooth;
    }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  :root {
    /* Dark Mode (Default) */
    --main-bg-color: #1E1E1E;
    --secondary-bg-color: #424242;
    --light-color: #E6E6E6;
    --text-color: #E6E6E6;
    --special-color: #11CC5C;

    --title-font-family: 'Cagke', serif;
    --passage-font-family:"Raleway", sans-serif;
    --passage-font-weight: 100;
    --coding-font-style: 'PT Mono', monospace;

    --sections-margin: 6rem;
  
    /* Light Mode (Optional) */
   /*  --light-mode-main-bg-color: #E6E6E6;
    --light-mode-secondary-bg-color: #FFFFFF;
    --light-mode-dark-color: #1E1E1E;
    --light-mode-text-color: #1E1E1E;
    --light-mode-special-color: #11CC5C; */
  }



/* Main Stylesheet */

/* ========== Global Styles ========== */

body{
    background-color: var(--secondary-bg-color);
    margin: 0;
}

/* ========== Header Section ========== */

header{
    background-color: var(--main-bg-color);
    color: var(--text-color);
    width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


header .img-and-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: ;
    gap: 3rem;
}

header .img-container {
}

header .img-container img {
    width: 15rem;
    border-radius: 10rem;
}

header .title-container {
}

header .title-container h1 {
    font-family: 'Cagke', serif;
    font-size: 4rem;
    margin: 0;
    line-height: 1.2;
    font-weight: 100;
    
    
}

header .title-container h6 {
    margin: 0;
    font-size: 1.2rem;
    font-family: var(--coding-font-style);
    font-weight: 200;
    opacity: 0.7;
    margin-top: 1.5rem;
    white-space: nowrap;

}

header .title-container h6 span {
    color: var(--special-color);

}

.down-arrow-container {
fill:#e6e6e63c;
position: absolute;
bottom: 1rem;

display: flex;
justify-content: center;
align-items: center;
height: 20vh;
padding-bottom: 1rem;



}

.down-arrow-container svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
  
    font-size: 2rem;
}


/* fade in and out the arrow div */

/* styles.css */

  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }

  .down-arrow-container {
    opacity: 1;
    animation: fadeInOut 1.5s infinite;
  }
  

/* fade in and out the arrow div */

header nav.nav {
    z-index: 100000;
    width:700px;
    position: fixed;
    top: 1rem;
    border-radius: 100px;

    /* blurred bg */
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* blurred bg */
}

header .nav .item-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    font-family: var(--passage-font-family);
    
    
    
    
    
}




div.n-item{
    display: flex;
    flex-direction: row;
    
    gap: 0.5rem;
    padding: 0 3rem;
    color: var(--light-color);
    cursor: pointer;
    text-transform: uppercase;  
    font-weight: 100;
    font-size: 0.9rem;
    padding: 1rem 1rem;
    
}

.item-container :hover{
    
    border-radius: 2rem;
   background-color: var(--light-color);
   color: black;
   fill: black;

   p{
    color: black;
    fill: black;
   }
   a{
    color: #1E1E1E;
    fill: black;
   }

  

   
}

.n-item p{
    padding: 0;
    margin: 0;
}



.n-item:hover{
    svg{
        color: #1E1E1E;
        fill: black;
    }


}

.n-item a {
    text-decoration: none;
    color: var(--light-color);
    
   
}

div .n-item:last-child{
    border: none;
}

.n-item{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.n-item svg {
    font-size: 1.2rem;
    height: 1.3rem;
    fill: var(--light-color);
}

.item-container p {
    margin: 0;
    padding: 0;
    
}

header .nav .item-container .item2 {
}

header .nav .item-container .item2 img {
}

header .nav .item-container .item2 p {
}

header .nav .item-container .item3 {
}

header .nav .item-container .item3 img {
}

header .nav .item-container .item3 p {
}

header .nav .item-container .item4 {
}

header .nav .item-container .item4 img {
}

header .nav .item-container .item4 p {
}

/* ========== hero media queies ========== */
@media screen and (max-width: 576px) and (min-width: 350px) {

    header .img-and-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: ;
        gap: 1rem;
    }

    header .img-container img {
        width: 15rem;
    }

    
    header .title-container h1 {
        font-family: 'Cagke';
        font-size: 3rem;
        margin: 0;
        line-height: 1.2;
        text-align: left;
        display: flex;
        justify-content: center;
        
    }

    header .title-container h6 {
        margin: 0;
        font-size: 1rem;
        font-family: var(--coding-font-style);
        font-weight: 200;
        opacity: 0.7;
        white-space: nowrap;
        margin-top: 1rem;

    }

    header{
        background-color: var(--main-bg-color);
        color: var(--text-color);
        
        margin: 0;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        
    }

    header nav.nav {
        width: 90%;
        transform: unset;
    }

    header .nav .item-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: var(--passage-font-family);
     
    }
    
    
    div.n-item{
        display: flex;
        flex-direction: row;
        padding: 0 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        
        
        
    }
    .n-item svg {
        
        height: 0.7rem;
    }
    
    .item-container p {
        margin: 0;
        padding: 0;
        
        font-size: 0.7rem;
    }
    
}




@media screen and (max-width: 350px) {
    html{
        width: 100vw;
        position: relative;
    }
    body{
        
        margin: 0;
        padding: 0;
        position: relative;
    }

    header{
        background-color: var(--main-bg-color);
        color: var(--text-color);
        min-width: 100vw;
        margin: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        
    }

    header .img-and-title-container {
        flex-direction: column;
        gap: 1rem;
    }

    header .img-container img {
        width: 10rem;
    }

    
    header .title-container h1 {
        font-family: 'Cagke';
        font-size: 2rem;
        margin: 0;
        line-height: 1.2;

        
    }

    header .title-container h6 {
        margin: 0;
        font-size: 0.5rem;
        font-family: var(--coding-font-style);
        font-weight: 200;
        opacity: 0.7;
        white-space: nowrap;
        margin-top: 1rem;

    }

   

    header nav.nav {
        
        transform: unset;
        width: 90%;
    }

    header .nav .item-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: var(--passage-font-family);
        
        
        
    }
    
    
    div.n-item{
        display: flex;
        flex-direction: row;
        padding: 0 1rem;
        
        
    }
    .n-item svg {
        
        height: 0.7rem;
    }
    
    .item-container p {
        margin: 0;
        padding: 0;
        
        font-size: 0.7rem;
    }
    .down-arrow-container {
        
        padding-bottom: 3rem;
        
        }
    
}
/* general */
section p{
    font-weight: var(--passage-font-weight);
    font-family: var(--passage-font-family);

}

section h1{
    font-size: 2.5rem;
}

/* ========== About Section ========== */
section.about-container {
    
}

section.about-container .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light-color);
    margin: 3rem 2rem var(--sections-margin) 2rem;
    
    
}

section.about-container .about-content img {
    border-radius: 1.5rem
}

section.about-container .about-content h1 {
    font-family: var(--title-font-family);
}

.about-text-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
    max-width: 600px;
    height: 120%;
}

.about-img-container{
    padding-right: 2rem;
}

.about-text-img-container img{
    width: 100%;
    
}

section.about-container .about-content p {
    font-family: var(--passage-font-family);
    font-size: 1.3rem;
    
    
}


/* ========== Skills Section ========== */

.skills-container{
    background-color: var(--main-bg-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light-color);
    font-family: var(--title-font-family);
   
}

.skills-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.skill-content{
   
    width: 60rem;
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.skill-column{
    display: flex ;
    flex-direction: column;
    position: relative;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.front-end{
    border-right: 2px solid rgb(41, 41, 41);
}
.graphic-design{
    border-right: 2px solid rgb(41, 41, 41);

}



.skill-field-title-container{
    
    height: 4rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--passage-font-family);
    
    margin-bottom: 1.5rem;
}

.skill-field-title-container h3{
    background-color:#2b2b2b;
    border-radius: 2rem;
    width: 80%;
    padding: 1rem 0;
}



.skills-items-container{
   
   height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    position: relative;
    font-family: var(--passage-font-family);
    font-size: 0.8rem;
    
}

.logo-name-rating-container{
    height:100%;
   
    width: 100%;
    
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.logo-name-container{
    
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.3rem;
}


.skill-logo-container{
    
    
    margin-left: 0.5rem;
}

.skill-logo-container img{
    width: 22px;
    height: 22px;
}

.skill-name-container{
   
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
}


.rating-container{
    
    width: 100%;
    height: 20%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.5rem;

}

.skill-rate-percent{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    
}

.rating-bar{
    background-color: black;
    height: 0.3rem;
    width: 60%;
    border-radius: 1rem;
    margin-left: 0.5rem;
}

.rating-bar-amount{
    background-color: rgb(101, 101, 101);
    height: 100%;
    border-radius: 1rem;
}

.skill-rate-percen{
color: var(--light-color);
}

.html-bar{
    width: 95%;
}
.css-bar{
    width: 80%;
}
.js-bar{
    width: 60%;
}
.figma-bar{
    width: 60%;
}



.photoshop-bar{
    width: 95%;
}
.illustrator-bar{
    width: 80%;
}
.premier-bar{
    width: 60%;
}

.lightroom-bar{
    width: 98%;
}


@media screen and (max-width: 475px) {
    .skill-content{
       
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .graphic-design{
        border: unset;
    }

    .skills-content{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .skill-column{
        margin: 0;
    }


    .skill-logo-container{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    
    .skill-name-container{
        display: flex;
       justify-content: center;
       align-items: center;
       width: 6rem;
    }
    
    
    .rating-container{
        display: flex;
       justify-content: center;
       align-items: center;
    }

    .logo-name-rating-container{
        display: flex;
       justify-content: center;
       align-items: center;
    }


    .rating-bar{
        width: 70%;
        height: 0.45rem;
    }

    .front-end{
        border-right: unset;
    }

    .skill-field-title-container{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


/* ========== Quote Section ========== */
section.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0 6rem 0;
    width: 100%;
    
}

section.quote-container h1 {
    margin: 0;
    color: var(--special-color);
    font-size: 6rem;
    margin: 0;
    padding: 0;
    
    
}

section.quote-container blockquote {
    
    color: var(--light-color);
    font-family: var(--passage-font-family);
    max-width: 400px;
    text-align: center;
    font-size: larger;
    margin: 0;
    padding: 0;
}

section.quote-container blockquote cite {
}


/* ========== Projects Section ========== */
section.projects-container {
    background-color: var(--main-bg-color);
    color: var(--light-color);
    text-align: center;
    scroll-behavior: smooth;
}

section.projects-container h1 {
    font-family: var(--title-font-family);
}

section.projects-container .project-items-container {
    font-family: var(--passage-font-family);
    
    margin: 0 2rem var(--sections-margin) 2rem;

    display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
  
  
}

.p-item{
    position: relative;
    flex: 1 1 45%; /* 45% width allows for some gap between items */
    display: flex;
    flex-direction: column;

    
    
    
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;

    justify-content: space-between;
    border-radius: 2rem;


    border-left: 3px solid var(--secondary-bg-color);
  border-bottom: 3px solid var(--secondary-bg-color);

}


section.projects-container .project-items-container .project-item {
}

section.projects-container .project-items-container .p-item h4 {
    font-weight:600;
    font-size:large;

color: var(--light-color);
margin-bottom: 1rem;
border-radius: 2rem;



    
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
   /*  border-radius: 1rem 1rem 0 0; */
    
}

section.projects-container .project-items-container .p-item .project-img-container img {
    width: 90%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}


section.projects-container .project-items-container .p-item p {
    padding: 0 1rem 0 1rem;
    text-align: justify;
    hyphens: auto;
    word-spacing: -1px;
    text-align-last: center;
    padding-top: 0;
    margin-top: 0;
    
    
}


.project-btn-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: relative;
    width: 90%;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0 1rem 1.5rem 1rem;
    align-self: flex-end;
    

    
}

.preview-btn{
    background-color: palevioletred;


}

.code-btn{
    background-color:var(--special-color);

}

.code-btn , .preview-btn{

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:space-around;
    

    
    color: white;
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1.3rem;
    height: 3rem;
    font-size: larger;

    padding: 0 1.5rem 0 1.5rem;

    /* glassmorphism */
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.128);

box-shadow: 0 5px 50px rgba(0, 0, 0, 0.281);
backdrop-filter: blur(6.8px);
-webkit-backdrop-filter: blur(6.8px);
border: 2px solid rgba(255, 255, 255, 0.32);
}

.preview-btn {
    
    cursor: pointer;
    color: white;
   
}
.eye-icon{
    fill: white;
    height: 1rem;
}

.code-icon{
    fill: white;
    height: 1.4rem;
}



@media screen and (max-width: 740px) and (min-width: 200px) {
    
    .project-items-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}

@media screen and  (min-width: 550px) {
    .project-items-container {
        display: flex;
        flex-wrap: wrap; /* Ensures wrapping */
        width: unset; /* or a specific width depending on your design */
    }

    .p-item {
        flex: 1 1 40%; /* Each box takes up 50% width */
        box-sizing: border-box; /* Include padding/border in width calculations */
        /* padding: 10px; */ /* Optional spacing inside the boxes */
        /* border: 1px solid #ccc; */ /* Optional: visual border for each box */
        
    }
}

@media screen and (min-width: 880px) {
    .p-item {
        flex: 1 1 20%; /* Each box takes up 25% width */
        
    }
    
}

@media  screen and (max-width: 400px) {
    .code-btn  , .preview-btn {
        
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* ========== Links Section ========== */
section.links-container {
    height: 5rem;
}

section.links-container .links-item-container {
}

section.links-container .links-item-container a {
}


/* ========== Contact Section ========== */
section.contact-container {
    background-color: var(--main-bg-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.contact-container h1 {
    color: var(--light-color);
    font-family: var(--title-font-family);
    text-align: center;
}

section.contact-container form {
    display: flex;
    flex-direction: column;
    margin: var(--sections-margin);
    width: 100%;
}

section.contact-container form .first-last-name-container {
    display: flex;
    position: relative;
}

.first-name-container, .last-name-container {   
    display: flex;
    flex-direction: column;
    width: 50%;
}

label{
    color: var(--light-color);
}



section.contact-container form .first-last-name-container label {
}

section.contact-container form .first-last-name-container input {
}

section.contact-container form label {
}

section.contact-container form input {
}

section.contact-container form textarea {
}

section.contact-container form button {
}

section.contact-container .social-media-container {
}

section.contact-container .social-media-container a {
}

section.contact-container .social-media-container a img {
}


/* 
contact section 2 cloud ctreadted */

/* Styling for the CONTACT section */
/* .contact-container {
    background-color: #444;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
} */

/* .contact-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
} */

/* Styling for the form */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    font-family: var(--passage-font-family);
    
}

/* First and Last Name Containers */
.first-last-name-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    
}

.first-name-container {
  
}

.last-name-container {
   
}

/* Input Fields */
input[type="text"], input[type="email"], textarea {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 0px;
    width: 100%;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid #888;
}

/* Labels */
label {
    font-size: 14px;
    margin-left: 15px;
}

/* Textarea */
textarea {
    resize: none;
    height: 100px;
}

@media screen and (max-width: 580px) {

    form{
        max-width: 90%;
    }
    
}

/* Submit Button */
button {
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #aaa;
}

/* Social Media Container */
.social-media-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media-container a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.social-media-container a:hover {
    background-color: #888;
}

.social-media-container img {
    width: 20px;
    height: 20px;
}



/* ========== Footer Section ========== */
footer {
}

footer p {
}





@media screen and (max-width: 850px) {
    .about-text-img-container{
        flex-direction: column;
    }

    .about-text-img-container p{
        margin: 0;
        padding: 0;
    }

    .about-text-img-container img{
        width: 100%;
        padding-bottom: 2rem;
    }

    .about-img-container{
        padding-right: unset;
    }

    
}





