
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');




@font-face {
    font-family: 'Cagke';
    src: url('../fonts/Cagke-Extrabold.eot');
    src: url('../fonts/Cagke-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cagke-Extrabold.woff2') format('woff2'),
        url('../fonts/Cagke-Extrabold.woff') format('woff'),
        url('../fonts/Cagke-Extrabold.ttf') format('truetype'),
        url('../fonts/cagkeextrabold-8mpja.otf') format('opentype'),
        url('../fonts/Cagke-Extrabold.svg#Cagke-Extrabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Mono';
    src: url('../ptmono/PTMono-Regular.eot');
    src: url('../ptmono/PTMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../ptmono/PTMono-Regular.woff2') format('woff2'),
        url('../ptmono/PTMono-Regular.woff') format('woff'),
        url('../ptmono/PTMono-Regular.ttf') format('truetype'),
        url('../ptmono/PTMono-Regular.svg#PTMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueKabelW01-Regular';
    src: url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.eot');
    src: url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.eot?#iefix') format('embedded-opentype'),
         url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.woff2') format('woff2'),
         url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.woff') format('woff'),
         url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.ttf') format('truetype'),
         url('./fonts/neue/02408ccd8efcf169db4e41d6e0551118.svg#NeueKabelW01-Regular') format('svg');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



    html{
        scroll-behavior: smooth;
        scroll-padding-top: 70px;
    }

    section{
        padding-top: 40px;
    }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  :root {
    /* Dark Mode (Default) */
    --main-bg-color: #1E1E1E;
    --secondary-bg-color: #424242;
    --light-color: #E6E6E6;
    --text-color: #E6E6E6;
    --special-color: #11CC5C;

    --title-font-family: 'Cagke', serif;
    --passage-font-family:"Raleway", sans-serif;
    --passage-font-weight: 100;
    --coding-font-style: 'PT Mono', monospace;

    --sections-margin: 6rem;
  
    /* Light Mode (Optional) */
   /*  --light-mode-main-bg-color: #E6E6E6;
    --light-mode-secondary-bg-color: #FFFFFF;
    --light-mode-dark-color: #1E1E1E;
    --light-mode-text-color: #1E1E1E;
    --light-mode-special-color: #11CC5C; */
  }
























.portfolio-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-section h1{
    color: var(--light-color);
    font-family: var(--title-font-family);
    text-align: center;
}
.portfolios{
    display: flex;
    flex-direction: row;
   
    justify-content: space-around;
    width: inherit;

}

.pfi{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 1rem;
    cursor: pointer;
    border-radius: 2rem;
    border: 3px solid rgb(65, 65, 65);
}

.pfi img{
    width: 100%;
    border-radius: 1.6rem;
    cursor: pointer;
}





.pfi {
    overflow: hidden; /* Prevents overflow issues */
    transition: all 0.3s ease; /* Smooth transition for all changes */
    transform-origin: center; /* Ensures scaling happens from the center */
}

.pfi img {
    display: block; /* Removes extra spacing */
    transition: all 0.3s ease; /* Smooth transition for all changes */
    transform-origin: center; /* Ensures scaling happens from the center */
}

.pfi a:hover img {
    transform: scale(1.09) ; /* Scales the image to 103% of its original size */
    
    
}

.pfi:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.445) ;
}



@media  screen and (max-width: 800px) {

    .portfolio-section{
        width: 95%;
    }


    .pfi{
        width:fit-content;
        height: fit-content;
        position: relative;
        margin: 0.4rem;
        border-radius: 1rem;
        border: 2px solid rgb(65, 65, 65);
    }
    
    .pfi img{
        width: 100%;
        height: 100%;
        border-radius: 0.7rem;
      
        display: flex;
        
    }

    
}