/* Reset - you can add your own reset styles or import an existing one if needed */




.social-btns {
    height: 90px;
    margin: auto;
    font-size: 0;
    text-align: center;
}

.social-btns .btn {
    display: inline-block;
    background-color: #4b4b4b;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: .99;
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.310, -0.105, 0.430, 1.590);
}

.social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
    transition: all 0.35s cubic-bezier(0.310, -0.105, 0.430, 1.590);
    top: 90%;
    left: -110%;
}

.social-btns .btn .fa {
    font-size: 38px;
    vertical-align: middle;
    transition: all 0.35s cubic-bezier(0.310, -0.105, 0.430, 1.590);
    transform: scale(0.8);
}

.social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
}

.social-btns .btn:hover .fa {
    color: #fff;
    transform: scale(1);
}

/* Button Colors */
.social-btns .btn.facebook:before {
    background-color: #3B5998;
}

.social-btns .btn.facebook .fa {
    color: #3B5998;
}

.social-btns .btn.twitter:before {
    background-color: #3CF;
}

.social-btns .btn.twitter .fa {
    color: #3CF;
}

.social-btns .btn.google:before {
    background-color: #DC4A38;
}

.social-btns .btn.google .fa {
    color: #DC4A38;
}

.social-btns .btn.dribbble:before {
    background-color: #F26798;
}

.social-btns .btn.dribbble .fa {
    color: #F26798;
}

.social-btns .btn.skype:before {
    background-color: #00AFF0;
}

.social-btns .btn.skype .fa {
    color: #00AFF0;
}
